.title{
  text-align: right;
}


.center {
  // display: block;
  justify-content: first baseline;
  width: 100%;
  // text-align:right;
  display: flex;
}
.location1{
  margin-right:auto;
  margin-left: auto;
}
.location2{
  margin-right:auto;
  margin-left: auto;
}
.location3{
  margin-right:auto;
  margin-left: auto;
}
