<div class="center">
    <div  *ngIf=!islogin  class="container">
        <!-- <h1>מזל טוב</h1> -->
        <h4>:הכנס שם משתמש</h4>
        <input type="text" name="userId" [(ngModel)]="user.userId" required>
        <br>
        <br>
        <h4>:הכנס סיסמה </h4>
        <input type="password" name="password" [(ngModel)]="user.username" required>
        <br>
        <br>
        <button (click)="connect()" mat-button>אישור</button>
        <br>
        <br>
        <button (click)="newuser()"  mat-button> משתמשים חדשים</button>&nbsp;&nbsp;
        <!-- <button (click)="personall()"  mat-button>אזור אישי</button>&nbsp;&nbsp; -->

         <!-- לכתוב פונקצית מחיקה 
        <button (click)= "()"  mat-button>מחק</button> -->
    </div>
</div>
<!-- <div *ngIf="isValid">
  content here ...
</div> -->
<br><br>
<div class = "center" *ngIf="islogin">
  <h1>  ברוך הבא ל{{customer1.namchatan}}   ו{{customer1.nameCala}}</h1>
  <br>
  <button  class = "mm" (click)="personall()"  mat-button>אזור אישי</button>&nbsp;&nbsp;
</div>

<!-- <input type="submit" > -->

<!-- <a>(click)=link routlink </a> -->

<!-- <Typography className={classes.root}>
    <Link href="#" onClick={preventDefault}>
      Link
    </Link>
    <Link href="#" onClick={preventDefault} color="inherit">
      {'color="inherit"'}
    </Link>
    <Link href="#" onClick={preventDefault} variant="body2">
      {'variant="body2"'}
    </Link>
  </Typography> -->

<!-- <Link
  component="button"
  variant="body2"
  onClick={() => {
    console.info("I'm a button.");
  }}
>
  Button Link
</Link> -->