<div class="center">
    <div  *ngIf=!islogin  class="container">
        <!-- <h1>מזל טוב</h1> -->
        <h4>:הכנס שם משתמש</h4>
        <input type="text" name="userId" [(ngModel)]="user.userId" required>
        <br>
        <br>
        <h4>:הכנס סיסמה </h4>
        <input type="password" name="password" [(ngModel)]="user.username" required>
        <br>
        <br>
        <button (click)="connect()" mat-button>אישור</button>
        <br>
        <br>
        <button (click)="newuser()"  mat-button> משתמשים חדשים</button>&nbsp;&nbsp;
      
    </div>
</div>

<br><br>
<div class = "center" *ngIf="islogin">
  <h1>  ברוך הבא ל{{customer1.namchatan}}   ו{{customer1.nameCala}}</h1>
  <br>
  <button  class = "mm" (click)="personall()"  mat-button>אזור אישי</button>&nbsp;&nbsp;
</div>

