<div class="panel">
<h1>פרסם אצלינו</h1>
<h3> אתר "מזל טוב" מפעיל קבוצת אתרי אינטרנט צרכניים מותאמים לצרכן החרדי,
    מוכיח פעם נוספת כי בהבנה נכונה לליבו ולצרכיו של הצרכן ובידע טכנולוגי גבוה ניתן ליצור פלטפורמה ייעודית למגזר החרדי
    שמחד תשמור על כל כללי ההלכה והצניעות ומאידך תעניק לגולש חוויית גלישה נעימה ומקצועית שתביא בפניו
    בצורה הנוחה והנעימה ביותר את מירב המידע הדרוש לו בטרם הוא מבצע את הרכישות לשמחתו בסכומי עתק.
    
    כאתר האינטרנט המוביל והמשפיע בתחום השמחות והארועים למגזר החרדי בישראל, ומתוך הכרת התחום וצרכי המגזר –
    ממפעיל האתר מחלקת פרסום מקצועית וממוקדת.
    מחלקת הפרסום של האתר מנוהלת ע"י אנשי מקצוע בעלי ותק וניסיון של שנים רבות בתחום הפרסום בכלל ובמגזר בפרט,
    כשהמחלקה כולה מורכבת, ממנהלי לקוחות מקצועיים ומנוסים, המתאימים את חבילות הפרסום האפקטיביות,
    הממוקדות והיעילות ביותר עבור המפרסם. בעקבות הניסיון הרב שנצבר במשך שנות הפעילות והתוצאות המבורכות ב"ה,
    הלקוחות המפרסמים באתר יודעים, כי הם מקבלים את עסקת הפרסום הטובה ביותר עבורם ועונה באופן מדויק לצרכים שלהם.
    באתר כל לקוח זוכה ליחס אישי ונבנית עבורו תוכנית פרסום כוללת המותאמת לצרכיו המדוייקים.
    לא פלא שזכינו ובסיעתא דשמיא, לקוחותינו מחדשים עסקאות מידי שנה בשלל האתרים של הקבוצה. אתם מוזמנים לנסות ולהיווכח בעצמכם!
    <br><br><br><br>
    ליצירת קשר ותיאום פגישה עם מנהל לקוחות אישי שילווה אתכם בפרסום שלכם, שלחו מייל למנהל הקבוצה
     .ונשמח לצרף אתכם למשפחת לקוחות של האתר הנהנים משתוף הפעולה איתנו</h3>



   
 <div class ="center"> 

    <!-- <div  class ="location2">
        <h3>:לפרטים ולהצעת מחיר אטרקטיבית עבור העסק שבבעלותך</h3> 
        <h4>: הכנס שם</h4>
          <input type="text"  placeholder="חובה לרשום שם"   required />
          <h4>:הכנס מייל </h4>
          <input type="text"  placeholder="חובה לרשום מייל"  required />
          <h4>:הודעה </h4>
          <input type="textbox"  placeholder="חובה לרשום הודעה "  required/> 
          <br><br><br>
       </div> -->

    <div  class ="location2">
     <h3>:לפרטים ולהצעת מחיר אטרקטיבית עבור העסק שבבעלותך</h3> 
     <h4>: הכנס שם</h4>
       <input type="text" name="Nameworker" placeholder="חובה לרשום שם" [(ngModel)]="worker.Nameworker"  required />
       <h4>:הכנס מייל </h4>
       <input type="text" name="Mailworker" placeholder="חובה לרשום מייל"  [(ngModel)]="worker.Mailworker" required />
       <h4>:הודעה </h4>
       <input type="textbox"  placeholder="חובה לרשום הודעה " name="message" [(ngModel)]="worker.message"  required/> 
       <br><br><br>
    </div>

   <div class ="location1">
    <br><br><br><br>
    <h4>משרד: 072-3902222</h4>
    <h4>נייד: 052-7200900</h4>
    <h4>פקס: 077-4704399</h4>
    <h4> WonderWedding@gmail.co.il :מייל </h4>
   </div>

</div>
   
<button  class= "location"  (click) = "Approval()"  mat-button>אישור</button>
        
      
