.title{
    text-align: right;
}



.center {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    text-align:center;
  }
  .location3{
    margin-right:auto;
    margin-left: auto;
  }
  
