.title{
    text-align: center;
}

// .mat-radio-button ~ .mat-radio-button {
//     margin-left: 16px;
//   }

// .mikom{
//     margin-left:auto;
//     margin-right: auto;
//     text-align:center;
// }


  .center {
    // display: block;
    justify-content: first baseline;
    width: 100%;
    // text-align:right;
    display: flex;
  }
  .location1{
    margin-right:auto;
    margin-left: auto;
  }
  .location2{
    margin-right:auto;
    margin-left: auto;
  }
  .location3{
    margin-right:auto;
    margin-left: auto;
  }
 
//   .location1{
//     text-align:right;
   
//   }
//   .location2{
//     text-align:center;
   
//   }
//   .location3{
//     text-align:left;
   
//   }
  
